<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<!-- Formulario para la creacion de nuevo Usuario -->
	<div>
		<form th:action="@{/login/newUsuario/submit}" method="post">
			<p>Nick: <input type:"text" th:field="*{nick}">
			<span th:if="${#fields.hasErrors('nick')}" th:errors="*{nick}" id="nick-error">Errores</span></p>
			
			<p>Nombre: <input type:"text" th:field="*{nombre}">
			<span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" id="nombre-error">Errores</span></p>
			
			<p>Email: <input type:"text" th:field="*{email}">
			<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" id="email-error">Errores</span></p>
			
			<p>Telefono: <input type:"text" th:field="*{tlfn}">
			<span th:if="${#fields.hasErrors('tlfn')}" th:errors="*{tlfn}" id="tlfn-error">Errores</span></p>
			
			<p>Direccion: <input type:"text" th:field="*{direccion}">
			<span th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}" id="direccion-error">Errores</span></p>
			
			<p>Contraseña: <input type:"text" th:field="*{contra}">
			<span th:if="${#fields.hasErrors('contra')}" th:errors="*{contra}" id="contra-error">Errores</span></p>
		
		
		</form>
	</div>

</body>
</html>