/* PARTE DE CSS DE LA CABECERA */

#div-cabecera{
    display: flex;
    flex-flow: row wrap;
    height: 20%;
}

#div-titulo{
    width: 40%;
    color: rgba(255, 0, 0, 0.719);

}

#div-login{
    text-align: right;
    width: 60%;
}

#titulo,#subtitulo{
    padding-left: 20px;
}

#div-login p{
    padding-right: 20px;
}