<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="es">
<head>

	<meta charset="utf-8">
	<title>E-Market</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"></head>
<body> 
	<div id="div-general">         
	<div id="div-usuario">

		<p><b>Bienvenido a tu cuenta <span th:text="${usuario.getNick()}" scope="col"></span></b></p>
		<button><a href="/terminate">Cerrar sesion</a></button>
	
	</div>
	<hr>
	<div id="div-contenido">
	
		<h2>Estos son tus pedidos actuales</h2>
		<table id="tablaCat">
			<tr>
			
				<th scope="col">ID</th>
				<th scope="col">Fecha</th>
				<th scope="col">Método de envío</th>
				<th scope="col">Modificar</th>
				
			</tr>
			<tr th:each="pedido : ${listaDePedidos}">
			
				<td th:text="${pedido.getId()}"></td>
				<td th:text="${pedido.getFecha()}"></td>
				<td th:text="${pedido.getMetodoEnvio}"></td>
				<td>
				
					<button><a th:href="@{/pedido/editarPedido/{id}(id=${pedido.id})}">Editar</a></button>
					<button><a th:href="@{/pedido/borrar/{id}(id=${pedido.id})}">Borrar</a></button>
					
				</td>
			</tr>
		</table>
			<button id="boton"><a href="/inicioUsuario/catalogo">Nuevo pedido</a></button>
	</div>
	</div>
</body>
</html>